.block {
  display: block
}

.table {
  display: table
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.text-gray-900 {
  color: #1a202c
}

.underline {
  text-decoration: underline
}

.col-auto {
  grid-column: auto
}
